.pagination {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .childPages {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid green;
  padding: 0px 2px;
}
